.c-nav-link {
    display: -webkit-box!important;
}

.c-left-button {
    float:left!important;
    width:48%!important;
    text-align:center!important;
}
.c-right-button {
    margin-top: 0px !important;
    float:right!important;
    width:48%!important;
    text-align:center!important;
}
.c-table-center-text {
    text-align: center !important;
}
.note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-airframe .note-editing-area .note-editable {
    background-color: #fff;
    color: #000;
    padding: 10px;
    overflow: auto;
    word-wrap: break-word;
    height: 200px!important;
}
.c-card {
    position:fixed!important;
    width: 40%;
    left:50% !important;
    top:50% !important;
    transform:translate(-50%,-50%) !important;
    z-index:1000!important;
}